<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.car">

    <application>
        <activity android:name=".ui.activity.FavoriteActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.TrackActivity" />
        <activity android:name=".ui.activity.PreviewActivity" />
        <activity android:name=".ui.activity.StoreDetailActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.CommentsActivity" />
        <activity android:name=".ui.activity.ForgotActivity"/>
        <activity android:name=".ui.activity.StoreActivity"/>
        <activity android:name=".ui.activity.SureOrderActivity"/>

        <meta-data
            android:name="com.cxyz.starter.car.iconify"
            android:value="com.cxyz.car.starter.IconifyStarter" />
    </application>

</manifest>