<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.message">

    <application>
        <activity android:name=".ui.Activity.ChatInfoActivity"></activity>
        <activity android:name=".ui.Activity.MainActivity"></activity>
        <activity android:name=".ui.Activity.ChatMessageActivity"></activity>
        <activity android:name=".ui.Activity.GoodsInfoActivity"></activity>
    </application>

</manifest>