<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.main">

    <application>
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.StoreActivity" />
        <meta-data
            android:name="com.cxyz.starter.main.iconify"
            android:value="com.cxyz.main.starter.IconifyStarter" />
    </application>

</manifest>