<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mine">

    <application
        android:name="com.cxyz.context.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme">
        <activity android:name=".ui.activity.WithdrawActivity"></activity>
        <activity android:name=".ui.activity.BalanceActivity" />
        <activity
            android:name=".ui.activity.AppVersionActivity"
            android:theme="@style/QMUI.Compat" />
        <activity android:name=".ui.activity.AddAddressActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.ChangPasswordActivity" />
        <activity android:name=".ui.activity.ShippingAddressActivity" />
        <activity android:name=".ui.activity.SetUpActivity" />
        <activity android:name=".ui.fragment.MineFragment" />
        <activity android:name=".ui.activity.PersonalInformation" />
        <activity android:name=".ui.fragment.MallInformationFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.cxyz.starter.mine.iconify"
            android:value="com.cxyz.mine.starter.IconifyStarter" />
    </application>

</manifest>