<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mine">

    <application>
        <activity android:name=".activity.ContactServiceActivity"></activity>
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.SetUpActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".fragment.MineFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>