<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxyz.mine">

    <application>
        <activity android:name=".ui.fragment.LoginMineFragment"></activity>
        <activity android:name=".ui.activity.MallInformationActivity" />
        <activity android:name=".ui.fragment.SearchResultsFilterFrament" />
        <activity android:name=".ui.fragment.SearchResultsPriceFrament" />
        <activity android:name=".ui.fragment.SearchResultsSalesFargment" />
        <activity android:name=".ui.fragment.SearchResultsComprehensiveFragment" />
        <activity android:name=".ui.activity.SearchResultsActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.WithdrawActivity" />
        <activity android:name=".ui.activity.BalanceActivity" />
        <activity android:name=".ui.activity.AppVersionActivity"
            android:theme="@style/QMUI.Compat" />
        <activity android:name=".ui.activity.AddAddressActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.ChangPasswordActivity" />
        <activity android:name=".ui.activity.ShippingAddressActivity" />
        <activity android:name=".ui.activity.SetUpActivity" />
        <activity android:name=".ui.fragment.MineFragment" />
        <activity android:name=".ui.activity.PersonalInformation" />
        <activity android:name=".ui.activity.ChangAddressActivity" />
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="com.cxyz.starter.mine.iconify"
            android:value="com.cxyz.mine.starter.IconifyStarter" />
    </application>

</manifest>